<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/hakkımda">Hakkımda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/destek">Destek</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/register">Kayıt Ol</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Giriş Yap</a>
            </li>
        </ul>
  </nav>